#itemDropperIcon {
   .debugDockIcon;
   background: url(./images/icon.png);
}

#itemDropper {
   .debug; 
   position: absolute;
   width: 200px;

   #uriInput {
      width: 100%;
   }

   input[type='checkbox'] {
      .resetAllCss
   }

   label {
      .resetAllCss
   }

   #makeButton {
      .control;
      content: url(./images/icon.png);
      padding-top: 8px;
   }
}

