
#entityTrackerInspector{
   .debug;
   position: absolute;
   top: 10px;
   left: 50px;
   min-width: 360px;
   //font-family: "Consolas";
   #close {
      position: absolute;
      top: 8px;
      right: 4px;
   }

   #body {
      max-height: 900px;
      overflow: auto;
   }
}

.tooltipster-shdt {
   .tooltipster-content {
      .debug;
   }   
}
